#profile_image{
  height: 100%;
  width: 100%;
}

.bg-black{
  background: #000;
  color: #fff;
}

#main-header{
  a{
    color: white;
  }

  .port-item{
    width: 25%;
    .fa{
      font-size: 2em;
    }
  }

  .port-item:hover{
    opacity: 0.8;
    cursor: pointer;
  }
}

#resume{
  img{
    width: 100%;
    height: 100%;
  }

  .overlay{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    position: absolute;
  }

  #resumePicCard1:hover .overlay{
    opacity: 0.5;
    cursor: pointer;
  }

  #resumePicCard2:hover .overlay{
    opacity: 0.5;
    cursor: pointer;
  }
}

.container{
  padding: 0;
}

.progress_container{
  position: relative;
  margin-left: 20px;
  width: 80%;

  .progress{
    height: 10px;
  }
  .progress-bar{
    height: 10px;
  }

  img{
    height: 75px;
    width: 75px;
    position: absolute;
    top: -25px;
    left: -15px;
  }
}

.social-logo-container{
  width: 25%;
  height: 200px;
  position: relative;

  img{
    height: 100%;
    width: 100%;
  }

  .social-logo-overlay{
    position: absolute;
    color: white;
    background-color: black;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    span{
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

#twitterLogo:hover .social-logo-overlay{
  opacity: 0.5;
  cursor: pointer;
}
#facebookLogo:hover .social-logo-overlay{
  opacity: 0.5;
  cursor: pointer;
}
#instagramLogo:hover .social-logo-overlay{
  opacity: 0.5;
  cursor: pointer;
}
#githubLogo:hover .social-logo-overlay{
  opacity: 0.5;
  cursor: pointer;
}

form{
  padding-bottom: 50px;

  i{
    margin: 10px;
  }
}

@media screen and (min-width: 768px){
  form{
    width: 80%;
    padding-bottom: 50px;

    i{
      margin: 10px;
    }
  }
}

.mywork-card{
  width: 90%;
  margin: 10px auto 10px auto;
  border: 1px solid #f2f2f2;
  border-radius: 0;
  background-color: #cfd8dc;

  img{
    width: 100%;
    height: 100%;
  }

  .mywork-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    text-align: center;
    opacity: 0;

    span{
      position: relative;
      top: 45%;
    }
  }

  .mywork-titlespan{
    font-weight: bold;
  }
}

#emailyCard:hover .mywork-overlay{
  opacity: 0.5;
  cursor: pointer;
}
#pictogramCard:hover .mywork-overlay{
  opacity: 0.5;
  cursor: pointer;
}
#pradumnbansalCard:hover .mywork-overlay{
  opacity: 0.5;
  cursor: pointer;
}